# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Panteon Demo.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\Panteon Demo\.idea\.idea.Panteon Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
